html {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  cursor: default;
  background: rgb(25, 25, 25);

}

#albumApp {
  background: rgb(25, 25, 25);
  padding-top: 10px;
  padding-bottom: 10px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  background: rgb(25, 25, 25);
}

.flex-container-row {
  display: flex;
}

#popularApp {
  margin-left: 250px;
  margin-right: 100px;
  margin-top: 100px;
}

